version: '3'

services:
  db:
    container_name: authentication_db
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=authentication_db
    ports:
      - "5432:5432"
    volumes:
      - ./postgres:/var/lib/postgresql/data